@font-face {
  font-family: "Space Grotesk";
  src: url("./fonts/SpaceGrotesk-Light.woff") format('woff');
}

@font-face {
    font-family: "Space Grotesk";
    src: url("./fonts/SpaceGrotesk-SemiBold.woff") format('woff');
    font-weight: bold;
}


body {
  font-size: 14px;
  line-height: 1.45;
  font-weight: 400;
  font-family: "Space Grotesk", "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
  transition: all 0.5s ease;
}

h1 {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.45;
  margin-bottom: 0;
}

#body {
  margin-top: 70px;
}

section {
  margin-bottom: 4rem;
}

.row {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

p {
  overflow: hidden;
  max-width: 40ch;
}

footer {
 background: #000;
 color: #fff;
 font-size: 1.5rem;
}


@media (max-width: 576px) {
  #portfolio {
    display: none;
  }
}
