@import url('https://fonts.googleapis.com/css?family=Raleway:400&display=swap');

@import url('https://fonts.googleapis.com/css?family=Oswald:700&display=swap');

body {
  font-size: 18px;
  line-height: 1.45;
  font-weight: 400;
  font-family: "Raleway", Arial, sans-serif;
  background: rgb(250, 250, 250);
  color: #242424;
  transition: all 0.5s ease;
}

header {
  height: 10vh;
  min-height: 50px;
  max-height: 100px;
}

a {
  color: #bbbbbb;
  transition: all 0.2s ease;
}

a:hover {
  color: #242424;
  text-decoration: none;
}

a:active {
  color: #0000ff;
}

.hello {
  height: 90vh;
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.blue {
  color: #0000ff;
}

.grey {
    color: #bbbbbb;
}

.margin-top {
  margin-top: 50px;
}

.margin-bottom {
  margin-bottom: 50px;
}

.project-title {
  text-align: right;
  margin-bottom: 1em;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #0000ff;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s ease;
  font-family: 'Oswald', 'Raleway', sans-serif;
  letter-spacing: 1px;
  font-size: 2em;
  color: #ffffff;
}

.overlay:hover {
  opacity: 1;
  color: #ffffff;
}

#arrow {
  fill:#bbb;
  fill-rule:evenodd;
  transition: fill 0.5s ease;
}

#arrow:hover {
  fill:#000;
  fill-rule:evenodd;
}


@media (max-width: 767px) {
  .margin-top {
    margin-top: 25px;
  }

  .margin-bottom {
    margin-bottom: 25px;
  }

  .project-title {
    text-align: left;
    margin-bottom: 1em;
  }
}
